[submodule "Clicker-App-Server"]
	path = server
	url = https://github.com/SLO42/Clicker-App-Server.git
	branch = server
[submodule "Clicker-App-Client"]
	path = client
	url = https://github.com/SLO42/Clicker-App-Client.git
	branch = main
[submodule "next"]
	path = next
	url = https://github.com/SLO42/Clicker-App-Client.git
	branch = nextjs
